<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<form th:action="@{/get-ticket}">
		Enter Ticket Number :<input type="text" name="ticketNum" />
		<input type="submit" value="Get Ticket" />
	</form>
	<table>
		<tr>
			<td>Name :</td>
			<td>
				<p th:text="${ticket.name}" />
			</td>
		</tr>
		<br/>
		<tr>
			<td>From :</td>
			<td>
				<p th:text="${ticket.from}" />
			</td>
		</tr>
		<tr>
			<td>To :</td>
			<td>
				<p th:text="${ticket.to}" />
			</td>
		</tr>
		<tr>
			<td>DOJ :</td>
			<td>
				<p th:text="${ticket.doj}" />
			</td>
		</tr>
		<tr>
			<td>Status :</td>
			<td>
				<p th:text="${ticket.status}" />
			</td>
		</tr>
		<tr>
			<td>Cost :</td>
			<td>
				<p th:text="${ticket.ticketCost}" />
			</td>
		</tr>
	</table>















</body>

</html>